<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="utf-8">
        <title>сын дерьма</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<div class="wrapper">
        <div class="content-wrapper">
                <div class="content">
                        <header>
                                <div class="logo">
                                        <img src="{{ asset('img/logo.png') }}">
                                </div>
                                <div class="header-right">
                                        <div class="search"><img src="img/searchbar.png"></div>
                                        <div class="headerlist">
                                                <div><a href="https/index.html">Главная</a></div>
                                                <div><a>|</a></div>
                                                <div><a href="https/index.html">О мультфильме</a></div>
                                                <div><a>|</a></div>
                                                <div><a href="https/index.html">Скачать</a></div>
                                                <div><a>|</a></div>
                                                <div><a href="https/index.html">Галерея</a></div>
                                                <div><a>|</a></div>
                                                <div><a href="https/index.html">Контакты</a></div>
                                        </div>
                                </div>
                        </header>
                        <div class="main-content">
                                <img class="photo" src="{{ asset ('img/bbb-splash.png') }}">
                                <h1>Действующие лица: Кролик Bunny, Франк, Рикки и Гимера</h1>
                        </div>
                        <div>
                                <div class="subcontent">
                                        <div class="subcontent-block">
                                                <img class="photo" src="img/bynny.jpg">
                                                <h1>Кролик Bunny</h1>
                                                <h2>О кролике</h2>
                                                <hr>
                                                <p>Работы начались в октябре 2007 а презентация прошла 10 апреля 2008 в Амстердаме.</p>
                                                <a class="learnmore" href="https/index.html">ПОДРОБНЕЕ <img src="img/button.png"></a>
                                        </div>
                                        <div class="subcontent-block">
                                                <img class="photo" href="https/index.html" src="img/bunny2.jpg">
                                                <h1>Персонажи</h1>
                                                <h2>О персонажах</h2>
                                                <hr>
                                                <p>Работы начались в октябре 2007 а презентация прошла 10 апреля 2008 в Амстердаме.</p>
                                                <a class="learnmore" href="https/index.html">ПОДРОБНЕЕ <img src="img/button.png"></a>
                                        </div>
                                        <div class="subcontent-block">
                                                <img class="photo" src="img/bunny3.jpg">
                                                <h1>Ландшафт</h1>
                                                <h2>О ладншафте мульта</h2>
                                                <hr>
                                                <p>Работы начались в октябре 2007 а презентация прошла 10 апреля 2008 в Амстердаме.</p>
                                                <a class="learnmore" href="https/index.html">ПОДРОБНЕЕ <img src="img/button.png"></a>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="footer-wrapper">
                <footer>
                        <div class="footerblock">
                                <a class="footer-menu-title">Файлы</a>
                                <ul>
                                        <li><a href="https/index.html">Модели</a></li>
                                        <li><a href="https/index.html">Текстуры</a></li>
                                        <li><a href="https/index.html">Компоненты</a></li>
                                        <li><a href="https/index.html">Архивы</a></li>
                                        <li><a href="https/index.html">Плагины Blender</a></li>
                                </ul>
                        </div>
                        <div class="footerblock">
                                <a class="footer-menu-title">Архивы</a>
                                <ul>
                                        <li><a h        ref="https/index.html">2014</a></li>
                                        <li><a href="https/index.html">2008</a></li>
                                        <li><a href="https/index.html">2003</a></li>
                                        <li><a href="https/index.html">1999</a></li>
                                </ul>
                        </div>
                        <div class="footerblock">
                                <a class="footer-menu-title">Категории</a>
                                <ul>
                                        <li><a href="https/index.html">Модели</a></li>
                                        <li><a href="https/index.html">Текстуры</a></li>
                                        <li><a href="https/index.html">Компоненты</a></li>
                                        <li><a href="https/index.html">Плагины Blender</a></li>
                                        <li><a href="https/index.html">Прочее</a></li>
                                </ul>
                        </div>
                        <div class="footerblock">
                                <a class="footer-menu-title">Последние записи</a>
                                <ul>
                                        <li><a href="https/index.html">О кролике Bunny</a></li>
                                        <li><a href="https/index.html">О персонажах</a></li>
                                        <li><a href="https/index.html">Ландшафты мультфильма</a></li>
                                        <li><a href="https/index.html">Плагины Blender</a></li>
                                </ul>
                        </div>
                </footer>
        </div>
</div>
</body>
</html>