<!DOCTYPE html>
<html>
    <head>
        <title>Ищи себя</title>
        <script type="text/javascript" src="{{ asset('js/script.js') }}">

        </script>
    </head>
    <body>
        <form action="abc">
            <input name="urlSteam" type="text" size="40">
                <br>
            <button onclick="a()">Кнопука</button>
                <form action="abc">
                    <input name="name" type="text" size="40">
                        <br>
                            <button onclick="a()">Вторая кнопука</button>
                </form>
        </form>
    </body>
</html>